version: '3.8'
services:
  db:
    image: postgres:15
    container_name: Hackton
    environment:
      POSTGRES_PASSWORD: senha123
      POSTGRES_USER: postgres
      POSTGRES_DB: minha_base
      TZ: America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata: