@inherits LayoutComponentBase



<main class="container my-4">
    @Body
</main>

@* <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2026</span>
    </div>
</footer> *@